.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 40px;
  width: 450px;
  max-width: 450px;
  text-align: center;
  border-radius: 10px;
}

.modal-header {
  padding-bottom: 20px;
  font-weight: bold;
}

.close {
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
