* {
  font-size: 1.2rem;
}

.main-page-layout {
  background-color: lightgrey;
  min-height: 100vh;
  padding: 5% 20%;
}

@media (max-width: 800px) {
  .main-page-layout {
    padding: 0;
    width: 100%;
    background-color: #fff;
  }
}

.main-page-card {
  border-radius: 20px;
  background-color: #fff;
  padding: 30px 50px;
  height: 100%;
}
